@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-yellow: #ecad0a;
  --blue-primary: #209dd7;
  --purple-secondary: #753991;
  --dark-navy: #032147;
  --gray-text: #888888;
}

body { background: linear-gradient(180deg,#f8fafc,white); }
