@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Sora:wght@500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.5;
  color: #032147;
  background:
    radial-gradient(circle at 15% -5%, rgb(236 173 10 / 0.24), transparent 42%),
    linear-gradient(180deg, #f7fbff 0%, #eef5ff 100%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
